{% extends 'base.html' %}
{% block content %}


<head>
</head>
<div id="dash" class="container mt-5 pt-5" style="color: rgb(224, 185, 185);" >
  <div class="row">
    <div class="col-12 col-sm-7 col-md-6 m-auto">
      <div class="card border-0 shadow">
        <div class="card-body">
<form method="POST" class="shadow p-4 rounded bg-light">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary" hx-get="{{ url_for('dashboard') }}" hx-target="#dash" hx-swap="outerHTML">Login</button>
  </form>
</div>
</div>
</div>
</div>
</div>



{% endblock %}