{% extends 'base.html' %}
{% block content %}

<div id="content" class="container mt-5" >
        <h1 class="pb-5 border-bottom">Administration</h1>
</div>
     <div class="row">
    <div class="col-md-6" style="width: 200px;">
    <div class="card" style="width: 10rem;">
        <img src="{{ url_for('static', filename='images/images.png') }}" class="card-img-top">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <a href="{{url_for('users')}}"  class="card-link"  hx-target="#dash" hx-swap="outerHTML">Users</a>
        </div>
      </div>
</div>
</div>





{% endblock %}
